<div class="container">
  <div class="row card hoverable m8 offset-m2" style="margin-top:10%;">
    <div class="card-content m8 offset-m2">
      <form class="row s12">
        <div class="col s12">

          <div class="card-image img-responsive">
            <img [src]="pokemonUri"/>
          </div>

        </div>
        <div class="col s12 center">
          <div class="input-field">
            <p class="center blue-text">Vous n'êtes pas encore connecté connectez vous :)</p>
          </div>
        </div>

        <div class="col s12 center">
          <button type="button" class="btn btn-large waves-effect waves-light blue" (click)="login()">Se connecter<i
              class="material-icons right">send</i></button>
        </div>
      </form>
    </div>
  </div>
</div>
